@import url("https://fonts.googleapis.com/css?family=Exo:100,200,300,400,400i,500,600,700,800,900|Roboto:100,200,300,400,400i,600,700,800");

body {
  font-family: Roboto;
  /*color: #ffffff*/
}

header {
  margin: 0;
}

.boxed {
  display: block;
  background-color: #676767;
  position: relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-1 {
  font-family: "Exo", sans-serif;
  font-weight: 100 !important;
  font-size: 46px;
}

.heading-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 200 !important;
  font-size: 28px;
}

/*Box Model*/

/* extend the default bootstrap class*/

.row {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


/*colors*/

#name,
#title {
  color: #ffffff;
}

#name {
  background-color: #676767;
  padding: 18px 0 18px 100px;
  min-height: 120px;
  max-height: 120px;
  overflow: hidden;
}

#title {
  background-color: #525252;
  padding: 22px 0 18px 100px;
  min-height: 120px;
  max-height: 120px;
}



/*heading*/

#heading .logo {
  background: url("../images/rosie-coder.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}


#heading .cv-pdf {
  background-color: #525252;
  color: #ffffff;
  min-height: 120px;
  max-height: 120px;
  text-align: center;
  font-size: 24px;
  padding: 0;
}


#heading .cv-pdf a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

#heading .cv-pdf a i {
  padding-top: 34px;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 30px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}


/*hover.css*/

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}


/*heading menu*/

.menuitem {
  min-height: 120px;
  text-align: center;
  padding: 0;
}

#heading .menuitem a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

#heading .menuitem a i {
  padding-top: 22px;
  display: block;
}

#heading .menuitem a i:before {
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  margin: 0;
}

#heading .menuitem a span {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Navigation */

.ui-menu-color01 {
  background-color: #1abc9c !important;
}

.ui-menu-color02 {
  background-color: #3498db !important;
}

.ui-menu-color03 {
  background-color: #9b59b6 !important;
}

.ui-menu-color04 {
  background-color: #e67e22 !important;
}

.ui-menu-color05 {
  background-color: #e74c3c !important;
}

.ui-menu-color06 {
  background-color: #d9a81d !important;
}

.vertical-divider {
  height: 40px;
}

footer {
  background-color: #525252;
  color: #bfbfbf;
  min-height: 240px;
  max-height: 240px;
  margin: 0;
  padding-top: 40px;
}

footer h5 {
  font-size: 16px;
}


footer .cv-link a {
  display: inline-block;
  padding: 4px 10px 4px 4px;
  margin: 2px 0 4px 0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0 0;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
}

footer .cv-link a i {
  margin-right: 10px;
  padding-top: 2px;
}

footer .cv-link a i:before {
  font-size: 11px !important;
  padding-left: 6px;
}


.inline-block {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: "Exo", sans-serif;
  font-weight: 300 !important;
  color: #fafafa;
}


/*Media Queries*/

@media (max-width: 991px) {

  #heading .cv-pdf {
    display: none;
  }

}


@media (max-width: 991px) {

  #heading .cv-pdf {
    display: none;
  }

}


@media (max-width: 480px) {

  .heading-1 {
    padding: 0;
    font-size: 38px;
  }

  .heading-2 {
    font-size: 22px;
    padding: 0;

  }

}
